h1{
    font-style: italic;
    font-size: 120%;
}
.ariale{
    font-family: 'Times New Roman', Times, serif;
    text-indent: 3cm;
    font-weight: bold;
}
body{
    background-color: orange;
    background-image: url("cat.jpg");
    background-repeat: repeat-x;
}